:root{
    --primaryColorLight: #121120bf;
    --primaryColor: #121120;
    --viewport-height: 100vh;
    --primaryBtnColor: #ff512f;
    --textColor: #a6a6a6;
    --border-light:  #212425;
    --secondaryColor: linear-gradient(97deg, rgb(250, 82, 82) 0%, rgb(221, 36, 118) 100%);
}